.treeview .search {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
}

.treeview .search input 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.treeview .col-selected {
    padding: 0 0 0 16px;
}
.treeview .toggle,
.treeview .header {
    display: inline-block !important;
}
.treeview .toggle {
    cursor: pointer !important;
    min-width: 14px;
}

.treeview .treeview-node {
    margin:0 0 0 10px;
    padding:0;
    list-style:none;
    position:relative;
}

.treeview .treeview-node {margin-left:4px}

.treeview:before,
.treeview .treeview-node:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.treeview .treeview-node-item {
    margin:0;
    padding:0 10px;
    line-height:2em;
    position:relative;
}

.treeview .treeview-node-item:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.treeview .treeview-node-item.last-child:before {
    background:white;
    height:auto;
    top:1em;
    bottom:0;
}